extends ../_layout

block content
  .alert.alert-danger
    h2(style='color: #d32f2f; margin-top: 0;') Low Stock Alert
    p The following item is running low on stock and requires immediate attention:
  
  table
    tbody
      tr
        td
          strong Product
        td= productName
      tr
        td
          strong SKU
        td= variantSku
      tr
        td
          strong Branch
        td= branchName
      tr
        td
          strong Current Stock
        td(style='color: #d32f2f; font-weight: bold;')= currentStock
      tr
        td
          strong Min Threshold
        td= minThreshold
      tr
        td
          strong Reorder Suggestion
        td(style='color: #388e3c; font-weight: bold;')= `${reorderSuggestion} units`
  
  p
    strong Action Required: 
    | Please review and place a purchase order to replenish stock.